backend/__pycache__
backend/uploads
backend/venv
frontend/node_modules
backend/.DS_Store
backend/routes/__pycache__/
backend/models/__pycache__/
backend/config/__pycache__/
backend/classes/__pycache__/